/*---------------------------------------------------
    $COLORS
---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fffefa;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/cafe.png");
  background-size: cover;
  background-position: center;
}
.hero__title {
  position: relative;
  bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title h1 {
  font-size: 5em;
  font-weight: 400;
}
.hero__title h2 {
  font-size: 3em;
  font-weight: 400;
}

.blogs {
  height: 90vh;
}
.blogs__title {
  padding-top: 15px;
  padding-left: 100px;
}
.blogs h1 {
  color: #404040;
  font-size: 3em;
  margin: 10px;
}

.blogs__articles {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: space-evenly;
  padding-top: 60px;
  color: #404040;
}

.blogs__container {
  position: relative;
  box-shadow: 0px 2px 4px 2px #bfbfbf;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs__container p {
  width: 90%;
  color: #404040;
  text-align: center;
}
.blogs__container img {
  position: absolute;
  bottom: 25px;
  width: 85%;
}
.blogs__container h2 {
  color: #404040;
}
.blogs__container h2 a {
  color: #404040;
}

.navbar__list {
  display: flex;
  position: absolute;
  right: 30px;
  top: 15px;
}
.navbar__list li {
  margin: 0 30px;
  list-style: none;
}
.navbar__list li a {
  text-decoration: none;
  font-size: 2em;
  text-shadow: 0px 0px 35px #404040;
}
.navbar__list li a:hover {
  font-size: 2.15em;
  transition-duration: 500ms;
}

.hero__icons {
  margin-top: 40px;
}
.hero__icons a {
  text-decoration: none;
}
.hero__icons a i:hover {
  color: #bfbfbf;
}

.margin-x {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-y {
  margin-top: 30px;
  margin-bottom: 20px;
}

.padding-x {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-small-x {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-small-y {
  padding-bottom: 15px;
  padding-top: 15px;
}