/*---------------------------------------------------
    $COLORS
---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fffefa;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__title {
  position: relative;
  bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay h1 {
  position: relative;
  z-index: 20;
  font-size: 5em;
  font-weight: 400;
  color: #404040;
  animation-name: title;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.overlay h2 {
  font-size: 3em;
  font-weight: 400;
  color: #404040;
  z-index: 20;
  animation-name: title;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.overlay .hero__icons {
  opacity: 0;
}

@keyframes title {
  from {
    color: #404040;
  }
  to {
    opacity: 0;
  }
}
.left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: #ffffff;
  z-index: 15;
  animation-name: left;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #ffffff;
  z-index: 15;
  animation-name: right;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes right {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
@keyframes left {
  from {
    right: 50%;
  }
  to {
    right: 100%;
  }
}
.hide {
  display: none;
}

.background {
  background-image: url("../assets/img/cafe.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.hero__title {
  position: relative;
  bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title h1 {
  font-size: 5em;
  font-weight: 400;
}
.hero__title h2 {
  font-size: 3em;
  font-weight: 400;
}

.wrapper {
  height: 90vh;
}
.wrapper__title {
  padding-top: 15px;
  padding-left: 100px;
}
.wrapper h1 {
  color: #404040;
  font-size: 3em;
  margin: 10px;
}

.wrapper__articles {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  padding-top: 60px;
  color: #404040;
}

.blogs {
  grid-template-columns: 50% 30%;
}

.projets {
  grid-template-columns: 25% 55%;
}

.wrapper__container {
  position: relative;
  box-shadow: 0px 2px 4px 2px #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.wrapper__container p {
  width: 90%;
  color: #404040;
  text-align: center;
  margin-bottom: 35px;
}
.wrapper__container img {
  width: 85%;
}
.wrapper__container h2 {
  color: #404040;
}
.wrapper__container h2 a {
  color: #404040;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
footer h1 {
  color: #404040;
  font-size: 4em;
}

.navbar__list {
  display: flex;
  position: absolute;
  right: 30px;
  top: 15px;
}
.navbar__list li {
  margin: 0 30px;
  list-style: none;
}
.navbar__list li a {
  text-decoration: none;
  font-size: 2em;
  text-shadow: 0px 0px 35px #404040;
}
.navbar__list li a:hover {
  font-size: 2.15em;
  transition-duration: 300ms;
}

.hero__icons {
  margin-top: 40px;
}
.hero__icons a {
  text-decoration: none;
}
.hero__icons a i:hover {
  color: #bfbfbf;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 12px;
  }

  .hero__icons [class^=flaticon-]:before {
    font-size: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .wrapper {
    height: auto;
    padding: 20px 0;
  }

  .blogs {
    grid-template-columns: 75%;
  }

  .projets {
    grid-template-columns: 80%;
    padding-top: 30px;
    gap: 30px;
  }

  div img.width {
    width: 100%;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }

  .wrapper__container h2 {
    font-size: 2em;
  }
  .wrapper__container p {
    font-size: 1.3em;
  }

  div.margin-y {
    margin-top: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .wrapper__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 475px) {
  body {
    font-size: 10px;
  }

  .navbar__list {
    width: 86%;
    justify-content: center;
  }
  .navbar__list li {
    margin: 10px;
  }
  .navbar__list li a {
    font-size: 2em;
    margin: 10px;
  }

  .hero__icons {
    margin-top: 40px;
  }
  .hero__icons [class^=flaticon-]:before {
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .wrapper__container h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  .wrapper__container p {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .wrapper__container img {
    width: 95%;
  }
}
.margin-x {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-y {
  margin-top: 30px;
  margin-bottom: 20px;
}

.margin-title {
  margin-bottom: 15px;
  margin-left: 20px;
}

.padding {
  padding: 15px;
}

.padding-x {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-small-x {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-small-y {
  padding-bottom: 15px;
  padding-top: 15px;
}

img.width {
  width: 95%;
}

.color__black {
  color: #404040;
}