.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title{
    position: relative;
    bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    position: relative;
    z-index: 20;
    font-size: 5em;
    font-weight: 400;
    color: $color-darkgrey;
    animation-name: title;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  h2{
    font-size:3em;
    font-weight: 400;
    color: $color-darkgrey;
    z-index: 20;
    animation-name: title;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .hero__icons{
    opacity: 0;
  }
}
@keyframes title{
  from{
    color: $color-darkgrey;
  }
  to{
    opacity: 0;
  }
}
.left{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: $color-white;
  z-index: 15;
  animation-name: left;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.right{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: $color-white;
  z-index: 15;
  animation-name: right;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes right{
  from{
    left: 50%;
  }
  to{
    left: 100%;
  }
}
@keyframes left{
  from{
    right: 50%;
  }
  to{
    right: 100%;
  }
}

.hide{
  display: none;
}

.background{
  background-image: url("../assets/img/cafe.png");
  background-size: cover;
  background-position: center;
}

.hero{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  &__title{
    position: relative;
    bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 5em;
      font-weight: 400;
    }
    h2{
      font-size:3em;
      font-weight: 400;
    }
  }
}

.wrapper{
  height: 90vh;
  &__title{
    padding-top: 15px;
    padding-left: 100px;
  }
  h1{
    color: $color-darkgrey;
    font-size: 3em;
    margin: 10px;
  }
}

.wrapper__articles{
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  padding-top: 60px;
  color: $color-darkgrey;
}
.blogs{
  grid-template-columns: 50% 30%;
}
.projets{
  grid-template-columns: 25% 55%;
}

.wrapper__container{
  position: relative;
  box-shadow: 0px 2px 4px 2px #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  p{
    width: 90%;
    color: $color-darkgrey;
    text-align: center;
    margin-bottom: 35px;
  }
  img{
    width: 85%;
  }
  h2{
    color: $color-darkgrey;
    a{
      color: $color-darkgrey;
    }
  }
}

footer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  h1{
    color: $color-darkgrey;
    font-size: 4em;
  }
}
