.margin-x{
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-y{
  margin-top: 30px;
  margin-bottom: 20px;
}
.padding-x{
  padding-left: 30px;
  padding-right: 30px;
}
.padding-y{
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-small-x{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-small-y{
  padding-bottom: 15px;
  padding-top: 15px;
}